{# _namapp/templates/layout.html_ #}
<html ng-app="namApp">
<head>
	<title>Nam</title>
	<link rel="shortcut icon" href="/img/favicon.png">
	<!-- bower components css -->
	<link rel='stylesheet' href='/bower_components/semantic-ui/dist/semantic.min.css' />

	<!-- bower components js -->
	<script src="/bower_components/jquery/jquery.js"></script>
	<script src="/bower_components/underscore/underscore.js"></script>
	<script src="/bower_components/semantic-ui/dist/semantic.min.js"></script>
	<script src="/bower_components/angular/angular.js"></script>

	<!--css -->
	<!-- <link rel="stylesheet" type="text/css" href="/css/iconfonts/flaticon.css"> -->
	<link rel='stylesheet' href='/css/style.css' />

	<!--js (TODO: replace this with *.min.js for production) -->
	<script src="/js/ng/dist/app.js"></script>
	<script src="/js/ng/dist/controller.js"></script>
	<script src="/js/ng/dist/service.js"></script>
	<script src="/js/ng/dist/directive.js"></script>


</head>
<body ng-controller="mainCtrl">
	{% block content %}{% endblock %}
</body>
</html>
